h1 {
    margin-top: 80px;
    font-size: 220%;
    font-weight: 600;
    font-transform: Arial;
}

h2 {
    font-size: 150%;
    font-weight: 500;
    font-style: italic;
    font-transform: Arial;
}

h3 {
    font-size: 150%;
    font-weight: 500;
    font-style: italic;
    font-transform: Arial;
}

h4 {
    font-size: 150%;
    font-weight: 500;
    font-transform: Arial;
}

p {
    font-transform: Arial;
    Margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    font-size: 150%;
}

img {
    size=500px;
}

uterus {
    margin-left: 150px;
}

.boxed {
    border: 20px solid mistyRose;
}

.surgery {
    Margin-top: 50px;
}

.sources {
    border: 20px solid aliceblue;
    font-style: italic;
    font-size: 90%;
}